{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="container" style="align-items: center;">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-8">
        <div class="flex">
          <div>
            <img src="{{user.profile.profile_picture.url}}" class="profile_picture" alt="img" width="50" height="50">
          </div>
          <div>
            <h2 class="text-monospace ml-3 pt-2"><small><strong>{{user.username}}</strong></small></h2>
          </div>
        </div>
        <hr>

        <div class="" id="myContent">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              {% bootstrap_form user_form%}
              {% bootstrap_form profile_form%}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}